<%- include("../fragmente/head.ejs") %>
<%- include("../fragmente/header.ejs") %>

<main>
  <h1>Istoricul Site-ului</h1>
  <p>Acest site a fost creat în scop educativ pentru a oferi informații utile iubitorilor de pisici. De-a lungul timpului, a evoluat de la o simplă idee la o platformă informativă și interactivă.</p>
  <img src="/resurse/imagini/istoric.jpg" alt="Pisică">
</main>

<%- include("../fragmente/footer.ejs") %>
