<footer id="zona8" class="zona">
            <a href="#">Inapoi sus</a>
            <p>Contact:</p>
            <ul>
                <li><a href="tel:+40123456789">+40 123 456 789</a></li>
                <li><a href="mailto:info@pisici.ro">info@pisici.ro</a></li>
                <li><a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" class="internal-link" target="_blank">Adresa noastra</a></li>
                <map name="mapaFMI">
                <area shape="rect" coords="0,0,1,1"
                        href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica"
                        alt="Facultatea de Matematică și Informatică" target="_blank">
                </map>



                <li><a href="https://api.whatsapp.com/send?phone=40123456789" class="internal-link" target="_blank">Chat pe WhatsApp</a></li>
            </ul>
            <p>&copy; <time datetime="2025-03-16">2025</time> Copyright.</p>

             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.915308571453!2d26.102855315666892!3d44.43759527910162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff5e7aaaaab1%3A0x57a4e182c4f97c0d!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1651234567890!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen></iframe>
</footer>