<head>  
        <title>Pisici - Informatii si Ingrijire</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Cristian"> 
        <link rel="stylesheet" href="/resurse/css/style.css">
        <link rel="stylesheet" href="/resurse/css/nav.css">
        <link rel="stylesheet" href="/resurse/css/meniu.css">
        <link rel="stylesheet" href="/resurse/css/print.css" media="print">
        <link rel="stylesheet" href="/resurse/css/galerie.css">
        <link rel="stylesheet" href="/resurse/css/general.css">
        <link rel="stylesheet" href="resurse/css/custom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="PisiciInfo" />
        <link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest" />
</head>
