body {
  background-color: #d4ccf8;
  color: #333;
}

.card-produs {
  background-color: #a34454;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #999;
  padding: 1rem;
}

body.dark {
  background-color: #2e2640;
  color: #eaeaea;
}

body.dark .card-produs {
  background-color: #522e52;
  color: white;
}

body.dark input,
body.dark select,
body.dark textarea {
  background-color: #2b2840;
  color: white;
  border-color: #555;
}

body.dark input[type=range]::-webkit-slider-thumb {
  background-color: #ffcc00;
}

body.dark .btn {
  background-color: #3b3a55;
  color: white;
  border-color: white;
}

body.dark header,
body.dark nav,
body.dark .dropdown-nav {
  background-color: #2c2c2c;
}

body.dark .text-animat {
  color: #f8f8f8;
}

#art-produs {
  background-color: #a34454;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #999;
  padding: 1rem;
  color: white;
}

body:not(.dark) #art-produs {
  background-color: #a34454;
  color: white;
}

body.dark #art-produs {
  background-color: #522e52;
  color: white;
}

.navbar .form-switch {
  scale: 0.9;
  padding: 0;
  margin-bottom: 0;
}

.navbar .form-check-label i {
  font-size: 1.1rem;
  vertical-align: middle;
}

.zona {
  background-color: #e38895;
  border-radius: 1rem;
  padding: 1.2rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark .zona {
  background-color: #a34454;
  color: white;
}

body.dark .zona a,
body.dark .zona p,
body.dark .zona h2,
body.dark .zona h3,
body.dark .zona h4,
body.dark .zona summary {
  color: white;
}